.Device-panel {
  height: 700px;
  width: 876px;
  float: left;
}

button {
	width: 64px;
	height: 32px;
	border: none;
	background: #f84d44;
	color: white;
	font-size: 16px;
	font-family: 'Public Sans', sans-serif;
	font-weight: 700;
	border-radius: 28px;
	margin-top: 15px;
  	margin-left: 30px;
	margin-right: 500px;
	padding: 4px;
}

button:hover {
	background-color:black;
}
button:active {
	position:relative;
	top:1px;
}

button:disabled {
	background-color: #D3D3D3;
	color: white;
}

.Device-grid {
  display: flex;   
  flex-wrap: wrap;
}

.Divide {
  height: 700px;
  width: 70px;
  background: #F84C44;
}

.Device-container { 
  	margin-top: 20px;
  	margin-left: 20px;
  	width: 178px;
	height: 133px;
	box-shadow: 3px 5px 2px -1px rgba(0,0,0,0.20);
	border-radius: 10px 10px 0px 0px;
}

.Device-image { 
	width: 178px;
	height: 133px;
	border-radius: 10px 10px 0px 0px;
}

.Device-text { 
	background: #cccccc;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
  	margin-bottom: 5px;
	font-size: 10pt;
	font-weight: 700;
	text-align: center;
	font-family: 'Public Sans', sans-serif;
	width: 178px;
	box-shadow: 3px 3px 2px -1px rgba(0,0,0,0.20);
	border-radius: 0px 0px 10px 10px;
	color: black;
}
