.Device-panel {
  height: 700px;
  width: 876px;
  background: #E5E5E5;
  float: left;
}

button {
	width: 64px;
	height: 32px;
	border: none;
	background: #f84d44;
	color: white;
	font-size: 16px;
	font-weight: 700;
	border-radius: 28px;
	margin: 20px;
	padding: 4px;
}

button:hover {
	background-color:#ff7873;
}
button:active {
	position:relative;
	top:1px;
}

button:disabled {
	background-color: #E5E5E5;
	color: #E5E5E5;
}

.Device-grid {
  display: flex;   
  flex-wrap: wrap;
}

.Divide {
  height: 700px;
  width: 70px;
  background: #F84C44;
}

.Device-container { 
  margin-top: 20px;
  margin-left: 20px;
	width: 178px;
	height: 133px;
	box-shadow: 3px 5px 2px -1px rgba(0,0,0,0.20);
}

.Device-image { 
	width: 178px;
	height: 133px;
}

.Device-text { 
	background: #cccccc;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
  	margin-bottom: 5px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	width: 178px;
	box-shadow: 3px 3px 2px -1px rgba(0,0,0,0.20);
}
